{% extends "base.html" %}
{% block content %}
  <h1>{{ article.title }}</h1>
  <p>{{ article.content }}</p>

  <hr>
  <h2>Commenti</h2>
  <ul>
    {% for comment in comments %}
      <li><strong>{{ comment.author.username }}</strong>: {{ comment.content }}</li>
    {% empty %}
      <li>Nessun commento</li>
    {% endfor %}
  </ul>

  {% if user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Invia</button>
    </form>
  {% else %}
    <p><a href="{% url 'login' %}?next={{ request.path }}">Effettua il login per commentare</a></p>
  {% endif %}
{% endblock %}


