{% extends "base.html" %}

{% block title %}Lista Articoli{% endblock %}

{% block header %}Articoli pubblicati{% endblock %}

{% block content %}
    <a href="{% url 'article_create' %}" role="button">Nuovo articolo</a>
    <ul>
        {% if articles %}
            {% for article in articles %}
                <li>
                    <a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a>
                    <small>
                        [<a href="{% url 'article_update' article.pk %}">Modifica</a>]
                        [<a href="{% url 'article_delete' article.pk %}">Elimina</a>]
                    </small>
                </li>
            {% endfor %}
        {% else %}
            <li>Nessun articolo trovato.</li>
        {% endif %}
    </ul>
{% endblock %}


